.title-bar {
    -fx-padding: 10px;
    -fx-padding-top: 20px;
    -fx-background-color: #2d3436;
}

.title-bar Label {
    -fx-text-fill: white;
}

.title, .close-button {
    -fx-font-family: Arial;
    -fx-font-weight: 700;
}

.title {
    -fx-font-size: 18px;
}

.close-button {
    -fx-border-radius: 2 2 2 2;
    -fx-background-radius: 2 2 2 2;
    /*-fx-font-size: 12px;*/

}

.close-button:hover {

}

.content{
    -fx-background-color: #b2bec3;
}

.sidepanel {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.button {

}